.container {
  color: white;
  padding: 100px;
}

.navbarContainer {
  position: sticky !important;
  top: 0px !important;
  padding: 5px !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  z-index: 15;
}


/* Target the links inside your navbar container */
.navbarContainer .nav-link {
  text-decoration: none;
  padding: 10px;
  margin-left: 10px;
  color: white !important; /* Ensure Bootstrap doesn't override color */
  transition: all 0.4s ease;
  display: inline-block; /* Required for box-shadow and padding to look right */
}

/* Hover Effect */
.navbarContainer .nav-link:hover {
  font-size: 20px;
  padding: 5px 10px; /* Adjusted to keep it balanced */
  box-shadow: 2px 2px 7px #fff;
  border-radius: 5px;
  color: white !important;
}


.headerName {
  text-align: left;
  color: white;
}

.Home {
  /* box-shadow: 5px 5px 6px #9b9696; */
  padding: 10px;
  border-radius: 5px;
}

.Home a {
  background-color: white;
  margin: 10px;
  padding: 2px 5px 2px 5px;
  border-radius: 360px;
  display: inline-block;

  /* 2. Fix: Add smooth animation */
  transition: all 0.4s ease;
}

.Home a:hover {
  transform: rotate(360deg);
  padding: 4px 10px 4px 10px;
}

.homePhoto {
  padding-left: 50px !important;
}
.homePhoto video{
  width: 350px;
  height: 350px;
}
.video1{
  position: relative;
  margin-top: -100px;
  margin-left: 200px;
  z-index: 0;
} 
.video1:hover{
  z-index: 20;
}
.video2:hover{
  z-index: 20;
}

.video2{
     position: relative;
   margin-top: -250px;
   /* margin-left: 0px; */
}
.video3{
     position: relative;
  margin-top: -200px;
  margin-left: 200px;
}

#head2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:white;
}

#heade3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:  white;

}

#head4 {
  text-align: justify;
}

.aboutphoto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutphoto img {
  width: 300px;
  height: 350px;
  margin-bottom: -20px;
  z-index: 2;
}

#resumeButton {
  background-color: rgb(92, 92, 219);
  padding: 5px;
  color: white;
  border-radius: 5px;
  transition: all 0.4s ease;
}

#resumeButton:hover,
.contact-form button:hover {
  padding: 10px;
  background-color: blue;
}

.about a {
  text-decoration: none;
  color: white;
}
.aboutphoto img:hover{
  transform:rotateY(180deg);
}
.projectRow{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  border: 1px solid #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #fff;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 5px;
  padding: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #fff;
  border-radius: 5px;
}

.contact-form button {
  background-color: rgb(109, 109, 243);
  border: none;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.4s ease;
}

.footer {
  color: white;
  text-align: center;
  bottom: 0px;
  margin: 0px !important;
  position: sticky;
  background-color: #8000FF;
  z-index: 10;
}

.color-circle {
  width: 350px;
  height: 50px;
  border-radius: 50%; 
  border: 7px solid;
  animation: changeColors 5s infinite linear; 
  box-shadow: 1px 1px 5px #ffffff;
}

/* Defines the color-changing animation */
@keyframes changeColors {
  0% {
     border-color: #e0e1d7; /* Red-orange */
  }
  25% {
    border-color:  #5a8138; /* Pink */
  }
  50% {
    border-color: #23a6d5; /* Blue */
  }
  75% {
    border-color: #78caed; /* Green */
  }
  100% {
    border-color: #70bd3d; /* Back to start */
  }
}




@media (max-width: 991px) {
  .navbarContainer{
    background-color: #8000FF;
  }
  .navbarContainer .nav-link {
    margin-left: 0;
  }

  #head1{
    font-size: 10px;
  }
  
  #span1{
    display: none;
  }
   .ForMargin{
    padding-top: 40px !important;
   }
  .homePhoto{
    display: none;
  }
 
  #head4 {
  font-size: 13px;
}
  .aboutphoto img {
  width: 150px;
  height: 150px;  
}

.projCol{
  margin: 10px;
}
.projectRow{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-form {
  padding: 15px;
}

.footer{
  margin: 0px !important;
}
}