.container {
  color: white;
  padding: 100px;
}
.navbarContainer {
  position: sticky;
  top: 0px;
  padding: 0px !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.Navbar {
  text-align: center;
  padding-top: 20px;
}

.Navbar a {
  text-decoration: none;
  padding: 20px;
  color: white;
}

.headerName {
  text-align: left;
  color: white;
}

.Home {
  /* box-shadow: 5px 5px 6px #9b9696; */
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease;

}

.Home a {
  background-color: white;
  margin: 10px;
  padding: 2px 5px 2px 5px;
  border-radius: 360px;
  display: inline-block;

  /* 2. Fix: Add smooth animation */
  transition: all 0.4s ease;
}

.Home a:hover {
  transform: rotate(360deg);
  padding: 4px 10px 4px 10px;
}

.homePhoto {
  padding-left: 100px !important;
}

.homePhoto img {
  width: 450px;
  height: 450px;
}

#head2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 1px 1px 1px #fff;
  color: paleturquoise;
}

#heade3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px 2px #fff;
  color: paleturquoise;

}

#head4 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: justify;
}

.Homephoto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Homephoto img {
  width: 300px;
  height: 350px;
  /* border-radius: 5px;
  box-shadow: 2px 2px 7px #fff; */
}

#resumeButton {
  background-color: rgb(92, 92, 219);
  padding: 5px;
  color: white;
  border-radius: 5px;
  transition: all 0.4s ease;
}

#resumeButton:hover {
  padding: 10px;
  background-color: blue;
}

.about a {
  text-decoration: none;
  color: white;
}